/*
 * librAIry API
 * Learn about [librAIry](http://librairy.github.io/) or follow the account `@librairy_fw` on twitter.     This research project receives funding from the European Commission's Seventh Framework Programme.Activity ICT (FP7-ICT-2013.8.1)  Grant agreement no: 611383 
 *
 * OpenAPI spec version: 1.0.0
 * Contact: librairy.framework@gmail.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.ContainerStats;
import io.swagger.client.model.Domain;
import io.swagger.client.model.Parameter;
import io.swagger.client.model.Reference;
import io.swagger.client.model.Relation;
import io.swagger.client.model.Resource;
import io.swagger.client.model.Score;
import io.swagger.client.model.Tag;
import io.swagger.client.model.Text;
import io.swagger.client.model.Topic;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class DomainsapicontrollerApi {
    private ApiClient apiClient;

    public DomainsapicontrollerApi() {
        this(Configuration.getDefaultApiClient());
    }

    public DomainsapicontrollerApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /* Build call for domainsDeleteUsingDELETE */
    private com.squareup.okhttp.Call domainsDeleteUsingDELETECall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/domains".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call domainsDeleteUsingDELETEValidateBeforeCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        
        com.squareup.okhttp.Call call = domainsDeleteUsingDELETECall(progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * domainsDelete
     * Remove all &#x60;Domain&#x60;s. 
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void domainsDeleteUsingDELETE() throws ApiException {
        domainsDeleteUsingDELETEWithHttpInfo();
    }

    /**
     * domainsDelete
     * Remove all &#x60;Domain&#x60;s. 
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> domainsDeleteUsingDELETEWithHttpInfo() throws ApiException {
        com.squareup.okhttp.Call call = domainsDeleteUsingDELETEValidateBeforeCall(null, null);
        return apiClient.execute(call);
    }

    /**
     * domainsDelete (asynchronously)
     * Remove all &#x60;Domain&#x60;s. 
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call domainsDeleteUsingDELETEAsync(final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = domainsDeleteUsingDELETEValidateBeforeCall(progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /* Build call for domainsDomainIdDeleteUsingDELETE */
    private com.squareup.okhttp.Call domainsDomainIdDeleteUsingDELETECall(String domainId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/domains/{domainId}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "domainId" + "\\}", apiClient.escapeString(domainId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call domainsDomainIdDeleteUsingDELETEValidateBeforeCall(String domainId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'domainId' is set
        if (domainId == null) {
            throw new ApiException("Missing the required parameter 'domainId' when calling domainsDomainIdDeleteUsingDELETE(Async)");
        }
        
        
        com.squareup.okhttp.Call call = domainsDomainIdDeleteUsingDELETECall(domainId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * domainsDomainIdDelete
     * Remove a &#x60;Domain&#x60;. 
     * @param domainId identifier (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void domainsDomainIdDeleteUsingDELETE(String domainId) throws ApiException {
        domainsDomainIdDeleteUsingDELETEWithHttpInfo(domainId);
    }

    /**
     * domainsDomainIdDelete
     * Remove a &#x60;Domain&#x60;. 
     * @param domainId identifier (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> domainsDomainIdDeleteUsingDELETEWithHttpInfo(String domainId) throws ApiException {
        com.squareup.okhttp.Call call = domainsDomainIdDeleteUsingDELETEValidateBeforeCall(domainId, null, null);
        return apiClient.execute(call);
    }

    /**
     * domainsDomainIdDelete (asynchronously)
     * Remove a &#x60;Domain&#x60;. 
     * @param domainId identifier (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call domainsDomainIdDeleteUsingDELETEAsync(String domainId, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = domainsDomainIdDeleteUsingDELETEValidateBeforeCall(domainId, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /* Build call for domainsDomainIdDocumentsDeleteUsingDELETE */
    private com.squareup.okhttp.Call domainsDomainIdDocumentsDeleteUsingDELETECall(String domainId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/domains/{domainId}/documents".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "domainId" + "\\}", apiClient.escapeString(domainId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call domainsDomainIdDocumentsDeleteUsingDELETEValidateBeforeCall(String domainId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'domainId' is set
        if (domainId == null) {
            throw new ApiException("Missing the required parameter 'domainId' when calling domainsDomainIdDocumentsDeleteUsingDELETE(Async)");
        }
        
        
        com.squareup.okhttp.Call call = domainsDomainIdDocumentsDeleteUsingDELETECall(domainId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * domainsDomainIdDocumentsDelete
     * Remove all &#x60;Document&#x60; in &#x60;Domain&#x60;. 
     * @param domainId identifier (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void domainsDomainIdDocumentsDeleteUsingDELETE(String domainId) throws ApiException {
        domainsDomainIdDocumentsDeleteUsingDELETEWithHttpInfo(domainId);
    }

    /**
     * domainsDomainIdDocumentsDelete
     * Remove all &#x60;Document&#x60; in &#x60;Domain&#x60;. 
     * @param domainId identifier (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> domainsDomainIdDocumentsDeleteUsingDELETEWithHttpInfo(String domainId) throws ApiException {
        com.squareup.okhttp.Call call = domainsDomainIdDocumentsDeleteUsingDELETEValidateBeforeCall(domainId, null, null);
        return apiClient.execute(call);
    }

    /**
     * domainsDomainIdDocumentsDelete (asynchronously)
     * Remove all &#x60;Document&#x60; in &#x60;Domain&#x60;. 
     * @param domainId identifier (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call domainsDomainIdDocumentsDeleteUsingDELETEAsync(String domainId, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = domainsDomainIdDocumentsDeleteUsingDELETEValidateBeforeCall(domainId, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /* Build call for domainsDomainIdDocumentsDocumentIdDeleteUsingDELETE */
    private com.squareup.okhttp.Call domainsDomainIdDocumentsDocumentIdDeleteUsingDELETECall(String domainId, String documentId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/domains/{domainId}/documents/{documentId}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "domainId" + "\\}", apiClient.escapeString(domainId.toString()))
        .replaceAll("\\{" + "documentId" + "\\}", apiClient.escapeString(documentId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call domainsDomainIdDocumentsDocumentIdDeleteUsingDELETEValidateBeforeCall(String domainId, String documentId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'domainId' is set
        if (domainId == null) {
            throw new ApiException("Missing the required parameter 'domainId' when calling domainsDomainIdDocumentsDocumentIdDeleteUsingDELETE(Async)");
        }
        
        // verify the required parameter 'documentId' is set
        if (documentId == null) {
            throw new ApiException("Missing the required parameter 'documentId' when calling domainsDomainIdDocumentsDocumentIdDeleteUsingDELETE(Async)");
        }
        
        
        com.squareup.okhttp.Call call = domainsDomainIdDocumentsDocumentIdDeleteUsingDELETECall(domainId, documentId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * domainsDomainIdDocumentsDocumentIdDelete
     * Remove a &#x60;Document&#x60; from &#x60;Domain&#x60;. 
     * @param domainId id of domain (required)
     * @param documentId id of document (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void domainsDomainIdDocumentsDocumentIdDeleteUsingDELETE(String domainId, String documentId) throws ApiException {
        domainsDomainIdDocumentsDocumentIdDeleteUsingDELETEWithHttpInfo(domainId, documentId);
    }

    /**
     * domainsDomainIdDocumentsDocumentIdDelete
     * Remove a &#x60;Document&#x60; from &#x60;Domain&#x60;. 
     * @param domainId id of domain (required)
     * @param documentId id of document (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> domainsDomainIdDocumentsDocumentIdDeleteUsingDELETEWithHttpInfo(String domainId, String documentId) throws ApiException {
        com.squareup.okhttp.Call call = domainsDomainIdDocumentsDocumentIdDeleteUsingDELETEValidateBeforeCall(domainId, documentId, null, null);
        return apiClient.execute(call);
    }

    /**
     * domainsDomainIdDocumentsDocumentIdDelete (asynchronously)
     * Remove a &#x60;Document&#x60; from &#x60;Domain&#x60;. 
     * @param domainId id of domain (required)
     * @param documentId id of document (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call domainsDomainIdDocumentsDocumentIdDeleteUsingDELETEAsync(String domainId, String documentId, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = domainsDomainIdDocumentsDocumentIdDeleteUsingDELETEValidateBeforeCall(domainId, documentId, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /* Build call for domainsDomainIdDocumentsDocumentIdPostUsingPOST */
    private com.squareup.okhttp.Call domainsDomainIdDocumentsDocumentIdPostUsingPOSTCall(String domainId, String documentId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/domains/{domainId}/documents/{documentId}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "domainId" + "\\}", apiClient.escapeString(domainId.toString()))
        .replaceAll("\\{" + "documentId" + "\\}", apiClient.escapeString(documentId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call domainsDomainIdDocumentsDocumentIdPostUsingPOSTValidateBeforeCall(String domainId, String documentId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'domainId' is set
        if (domainId == null) {
            throw new ApiException("Missing the required parameter 'domainId' when calling domainsDomainIdDocumentsDocumentIdPostUsingPOST(Async)");
        }
        
        // verify the required parameter 'documentId' is set
        if (documentId == null) {
            throw new ApiException("Missing the required parameter 'documentId' when calling domainsDomainIdDocumentsDocumentIdPostUsingPOST(Async)");
        }
        
        
        com.squareup.okhttp.Call call = domainsDomainIdDocumentsDocumentIdPostUsingPOSTCall(domainId, documentId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * domainsDomainIdDocumentsDocumentIdPost
     * Add a &#x60;Document&#x60; to &#x60;Domain&#x60;. 
     * @param domainId id of domain (required)
     * @param documentId id of document (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void domainsDomainIdDocumentsDocumentIdPostUsingPOST(String domainId, String documentId) throws ApiException {
        domainsDomainIdDocumentsDocumentIdPostUsingPOSTWithHttpInfo(domainId, documentId);
    }

    /**
     * domainsDomainIdDocumentsDocumentIdPost
     * Add a &#x60;Document&#x60; to &#x60;Domain&#x60;. 
     * @param domainId id of domain (required)
     * @param documentId id of document (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> domainsDomainIdDocumentsDocumentIdPostUsingPOSTWithHttpInfo(String domainId, String documentId) throws ApiException {
        com.squareup.okhttp.Call call = domainsDomainIdDocumentsDocumentIdPostUsingPOSTValidateBeforeCall(domainId, documentId, null, null);
        return apiClient.execute(call);
    }

    /**
     * domainsDomainIdDocumentsDocumentIdPost (asynchronously)
     * Add a &#x60;Document&#x60; to &#x60;Domain&#x60;. 
     * @param domainId id of domain (required)
     * @param documentId id of document (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call domainsDomainIdDocumentsDocumentIdPostUsingPOSTAsync(String domainId, String documentId, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = domainsDomainIdDocumentsDocumentIdPostUsingPOSTValidateBeforeCall(domainId, documentId, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /* Build call for domainsDomainIdDocumentsDocumentIdRelationsGetUsingGET */
    private com.squareup.okhttp.Call domainsDomainIdDocumentsDocumentIdRelationsGetUsingGETCall(String domainId, String documentId, String type, String resourceType, String relatedId, Double size, String offset, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/domains/{domainId}/documents/{documentId}/relations".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "domainId" + "\\}", apiClient.escapeString(domainId.toString()))
        .replaceAll("\\{" + "documentId" + "\\}", apiClient.escapeString(documentId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (type != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "type", type));
        if (resourceType != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "resourceType", resourceType));
        if (relatedId != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "relatedId", relatedId));
        if (size != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "size", size));
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "offset", offset));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call domainsDomainIdDocumentsDocumentIdRelationsGetUsingGETValidateBeforeCall(String domainId, String documentId, String type, String resourceType, String relatedId, Double size, String offset, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'domainId' is set
        if (domainId == null) {
            throw new ApiException("Missing the required parameter 'domainId' when calling domainsDomainIdDocumentsDocumentIdRelationsGetUsingGET(Async)");
        }
        
        // verify the required parameter 'documentId' is set
        if (documentId == null) {
            throw new ApiException("Missing the required parameter 'documentId' when calling domainsDomainIdDocumentsDocumentIdRelationsGetUsingGET(Async)");
        }
        
        // verify the required parameter 'type' is set
        if (type == null) {
            throw new ApiException("Missing the required parameter 'type' when calling domainsDomainIdDocumentsDocumentIdRelationsGetUsingGET(Async)");
        }
        
        
        com.squareup.okhttp.Call call = domainsDomainIdDocumentsDocumentIdRelationsGetUsingGETCall(domainId, documentId, type, resourceType, relatedId, size, offset, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * domainsDomainIdDocumentsDocumentIdRelationsGet
     * Return a list of &#x60;Relation&#x60; from &#x60;Document&#x60; in &#x60;Domain&#x60;. 
     * @param domainId id of domain (required)
     * @param documentId id of document (required)
     * @param type type of relation (required)
     * @param resourceType type of resources (optional)
     * @param relatedId id of related document (optional)
     * @param size number of resources (optional, default to 100)
     * @param offset id of the first element (optional)
     * @return Relation
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<Relation> domainsDomainIdDocumentsDocumentIdRelationsGetUsingGET(String domainId, String documentId, String type, String resourceType, String relatedId, Double size, String offset) throws ApiException {
        ApiResponse<List<Relation>> resp = domainsDomainIdDocumentsDocumentIdRelationsGetUsingGETWithHttpInfo(domainId, documentId, type, resourceType, relatedId, size, offset);
        return (List<Relation>) resp.getData();
    }

    /**
     * domainsDomainIdDocumentsDocumentIdRelationsGet
     * Return a list of &#x60;Relation&#x60; from &#x60;Document&#x60; in &#x60;Domain&#x60;. 
     * @param domainId id of domain (required)
     * @param documentId id of document (required)
     * @param type type of relation (required)
     * @param resourceType type of resources (optional)
     * @param relatedId id of related document (optional)
     * @param size number of resources (optional, default to 100)
     * @param offset id of the first element (optional)
     * @return ApiResponse&lt;Relation&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<Relation>> domainsDomainIdDocumentsDocumentIdRelationsGetUsingGETWithHttpInfo(String domainId, String documentId, String type, String resourceType, String relatedId, Double size, String offset) throws ApiException {
        com.squareup.okhttp.Call call = domainsDomainIdDocumentsDocumentIdRelationsGetUsingGETValidateBeforeCall(domainId, documentId, type, resourceType, relatedId, size, offset, null, null);
        Type localVarReturnType = new TypeToken<List<Relation>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * domainsDomainIdDocumentsDocumentIdRelationsGet (asynchronously)
     * Return a list of &#x60;Relation&#x60; from &#x60;Document&#x60; in &#x60;Domain&#x60;. 
     * @param domainId id of domain (required)
     * @param documentId id of document (required)
     * @param type type of relation (required)
     * @param resourceType type of resources (optional)
     * @param relatedId id of related document (optional)
     * @param size number of resources (optional, default to 100)
     * @param offset id of the first element (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call domainsDomainIdDocumentsDocumentIdRelationsGetUsingGETAsync(String domainId, String documentId, String type, String resourceType, String relatedId, Double size, String offset, final ApiCallback<Relation> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = domainsDomainIdDocumentsDocumentIdRelationsGetUsingGETValidateBeforeCall(domainId, documentId, type, resourceType, relatedId, size, offset, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Relation>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for domainsDomainIdDocumentsDocumentIdTagsGetUsingGET */
    private com.squareup.okhttp.Call domainsDomainIdDocumentsDocumentIdTagsGetUsingGETCall(String domainId, String documentId, Double size, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/domains/{domainId}/documents/{documentId}/tags".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "domainId" + "\\}", apiClient.escapeString(domainId.toString()))
        .replaceAll("\\{" + "documentId" + "\\}", apiClient.escapeString(documentId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (size != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "size", size));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call domainsDomainIdDocumentsDocumentIdTagsGetUsingGETValidateBeforeCall(String domainId, String documentId, Double size, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'domainId' is set
        if (domainId == null) {
            throw new ApiException("Missing the required parameter 'domainId' when calling domainsDomainIdDocumentsDocumentIdTagsGetUsingGET(Async)");
        }
        
        // verify the required parameter 'documentId' is set
        if (documentId == null) {
            throw new ApiException("Missing the required parameter 'documentId' when calling domainsDomainIdDocumentsDocumentIdTagsGetUsingGET(Async)");
        }
        
        
        com.squareup.okhttp.Call call = domainsDomainIdDocumentsDocumentIdTagsGetUsingGETCall(domainId, documentId, size, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * domainsDomainIdDocumentsDocumentIdTagsGet
     * Return a list of &#x60;Tag&#x60; from &#x60;Document&#x60; in &#x60;Domain&#x60;. 
     * @param domainId id of domain (required)
     * @param documentId id of document (required)
     * @param size number of tags (optional, default to 100)
     * @return Tag
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Tag domainsDomainIdDocumentsDocumentIdTagsGetUsingGET(String domainId, String documentId, Double size) throws ApiException {
        ApiResponse<Tag> resp = domainsDomainIdDocumentsDocumentIdTagsGetUsingGETWithHttpInfo(domainId, documentId, size);
        return resp.getData();
    }

    /**
     * domainsDomainIdDocumentsDocumentIdTagsGet
     * Return a list of &#x60;Tag&#x60; from &#x60;Document&#x60; in &#x60;Domain&#x60;. 
     * @param domainId id of domain (required)
     * @param documentId id of document (required)
     * @param size number of tags (optional, default to 100)
     * @return ApiResponse&lt;Tag&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Tag> domainsDomainIdDocumentsDocumentIdTagsGetUsingGETWithHttpInfo(String domainId, String documentId, Double size) throws ApiException {
        com.squareup.okhttp.Call call = domainsDomainIdDocumentsDocumentIdTagsGetUsingGETValidateBeforeCall(domainId, documentId, size, null, null);
        Type localVarReturnType = new TypeToken<Tag>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * domainsDomainIdDocumentsDocumentIdTagsGet (asynchronously)
     * Return a list of &#x60;Tag&#x60; from &#x60;Document&#x60; in &#x60;Domain&#x60;. 
     * @param domainId id of domain (required)
     * @param documentId id of document (required)
     * @param size number of tags (optional, default to 100)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call domainsDomainIdDocumentsDocumentIdTagsGetUsingGETAsync(String domainId, String documentId, Double size, final ApiCallback<Tag> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = domainsDomainIdDocumentsDocumentIdTagsGetUsingGETValidateBeforeCall(domainId, documentId, size, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Tag>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for domainsDomainIdDocumentsDocumentIdTopicsGetUsingGET */
    private com.squareup.okhttp.Call domainsDomainIdDocumentsDocumentIdTopicsGetUsingGETCall(String domainId, String documentId, Double size, String offset, Double words, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/domains/{domainId}/documents/{documentId}/topics".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "domainId" + "\\}", apiClient.escapeString(domainId.toString()))
        .replaceAll("\\{" + "documentId" + "\\}", apiClient.escapeString(documentId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (size != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "size", size));
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "offset", offset));
        if (words != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "words", words));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call domainsDomainIdDocumentsDocumentIdTopicsGetUsingGETValidateBeforeCall(String domainId, String documentId, Double size, String offset, Double words, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'domainId' is set
        if (domainId == null) {
            throw new ApiException("Missing the required parameter 'domainId' when calling domainsDomainIdDocumentsDocumentIdTopicsGetUsingGET(Async)");
        }
        
        // verify the required parameter 'documentId' is set
        if (documentId == null) {
            throw new ApiException("Missing the required parameter 'documentId' when calling domainsDomainIdDocumentsDocumentIdTopicsGetUsingGET(Async)");
        }
        
        
        com.squareup.okhttp.Call call = domainsDomainIdDocumentsDocumentIdTopicsGetUsingGETCall(domainId, documentId, size, offset, words, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * domainsDomainIdDocumentsDocumentIdTopicsGet
     * Return a list of &#x60;Topic&#x60; from &#x60;Document&#x60; in &#x60;Domain&#x60;. 
     * @param domainId id of domain (required)
     * @param documentId id of document (required)
     * @param size number of topics (optional, default to 100)
     * @param offset id of the first topic (optional)
     * @param words words per topic (optional, default to 50)
     * @return Topic
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Topic domainsDomainIdDocumentsDocumentIdTopicsGetUsingGET(String domainId, String documentId, Double size, String offset, Double words) throws ApiException {
        ApiResponse<Topic> resp = domainsDomainIdDocumentsDocumentIdTopicsGetUsingGETWithHttpInfo(domainId, documentId, size, offset, words);
        return resp.getData();
    }

    /**
     * domainsDomainIdDocumentsDocumentIdTopicsGet
     * Return a list of &#x60;Topic&#x60; from &#x60;Document&#x60; in &#x60;Domain&#x60;. 
     * @param domainId id of domain (required)
     * @param documentId id of document (required)
     * @param size number of topics (optional, default to 100)
     * @param offset id of the first topic (optional)
     * @param words words per topic (optional, default to 50)
     * @return ApiResponse&lt;Topic&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Topic> domainsDomainIdDocumentsDocumentIdTopicsGetUsingGETWithHttpInfo(String domainId, String documentId, Double size, String offset, Double words) throws ApiException {
        com.squareup.okhttp.Call call = domainsDomainIdDocumentsDocumentIdTopicsGetUsingGETValidateBeforeCall(domainId, documentId, size, offset, words, null, null);
        Type localVarReturnType = new TypeToken<Topic>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * domainsDomainIdDocumentsDocumentIdTopicsGet (asynchronously)
     * Return a list of &#x60;Topic&#x60; from &#x60;Document&#x60; in &#x60;Domain&#x60;. 
     * @param domainId id of domain (required)
     * @param documentId id of document (required)
     * @param size number of topics (optional, default to 100)
     * @param offset id of the first topic (optional)
     * @param words words per topic (optional, default to 50)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call domainsDomainIdDocumentsDocumentIdTopicsGetUsingGETAsync(String domainId, String documentId, Double size, String offset, Double words, final ApiCallback<Topic> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = domainsDomainIdDocumentsDocumentIdTopicsGetUsingGETValidateBeforeCall(domainId, documentId, size, offset, words, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Topic>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for domainsDomainIdDocumentsGetUsingGET */
    private com.squareup.okhttp.Call domainsDomainIdDocumentsGetUsingGETCall(String domainId, Double size, String offset, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/domains/{domainId}/documents".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "domainId" + "\\}", apiClient.escapeString(domainId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (size != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "size", size));
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "offset", offset));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call domainsDomainIdDocumentsGetUsingGETValidateBeforeCall(String domainId, Double size, String offset, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'domainId' is set
        if (domainId == null) {
            throw new ApiException("Missing the required parameter 'domainId' when calling domainsDomainIdDocumentsGetUsingGET(Async)");
        }
        
        
        com.squareup.okhttp.Call call = domainsDomainIdDocumentsGetUsingGETCall(domainId, size, offset, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * domainsDomainIdDocumentsGet
     * Return a list of &#x60;Document&#x60; in &#x60;Domain&#x60;. 
     * @param domainId identifier (required)
     * @param size number of resources (optional, default to 100)
     * @param offset id of the first element (optional)
     * @return Reference
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Reference domainsDomainIdDocumentsGetUsingGET(String domainId, Double size, String offset) throws ApiException {
        ApiResponse<Reference> resp = domainsDomainIdDocumentsGetUsingGETWithHttpInfo(domainId, size, offset);
        return resp.getData();
    }

    /**
     * domainsDomainIdDocumentsGet
     * Return a list of &#x60;Document&#x60; in &#x60;Domain&#x60;. 
     * @param domainId identifier (required)
     * @param size number of resources (optional, default to 100)
     * @param offset id of the first element (optional)
     * @return ApiResponse&lt;Reference&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Reference> domainsDomainIdDocumentsGetUsingGETWithHttpInfo(String domainId, Double size, String offset) throws ApiException {
        com.squareup.okhttp.Call call = domainsDomainIdDocumentsGetUsingGETValidateBeforeCall(domainId, size, offset, null, null);
        Type localVarReturnType = new TypeToken<Reference>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * domainsDomainIdDocumentsGet (asynchronously)
     * Return a list of &#x60;Document&#x60; in &#x60;Domain&#x60;. 
     * @param domainId identifier (required)
     * @param size number of resources (optional, default to 100)
     * @param offset id of the first element (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call domainsDomainIdDocumentsGetUsingGETAsync(String domainId, Double size, String offset, final ApiCallback<Reference> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = domainsDomainIdDocumentsGetUsingGETValidateBeforeCall(domainId, size, offset, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Reference>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for domainsDomainIdGetUsingGET */
    private com.squareup.okhttp.Call domainsDomainIdGetUsingGETCall(String domainId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/domains/{domainId}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "domainId" + "\\}", apiClient.escapeString(domainId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call domainsDomainIdGetUsingGETValidateBeforeCall(String domainId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'domainId' is set
        if (domainId == null) {
            throw new ApiException("Missing the required parameter 'domainId' when calling domainsDomainIdGetUsingGET(Async)");
        }
        
        
        com.squareup.okhttp.Call call = domainsDomainIdGetUsingGETCall(domainId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * domainsDomainIdGet
     * Return a &#x60;Domain&#x60;. 
     * @param domainId identifier (required)
     * @return ContainerStats
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ContainerStats domainsDomainIdGetUsingGET(String domainId) throws ApiException {
        ApiResponse<ContainerStats> resp = domainsDomainIdGetUsingGETWithHttpInfo(domainId);
        return resp.getData();
    }

    /**
     * domainsDomainIdGet
     * Return a &#x60;Domain&#x60;. 
     * @param domainId identifier (required)
     * @return ApiResponse&lt;ContainerStats&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ContainerStats> domainsDomainIdGetUsingGETWithHttpInfo(String domainId) throws ApiException {
        com.squareup.okhttp.Call call = domainsDomainIdGetUsingGETValidateBeforeCall(domainId, null, null);
        Type localVarReturnType = new TypeToken<ContainerStats>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * domainsDomainIdGet (asynchronously)
     * Return a &#x60;Domain&#x60;. 
     * @param domainId identifier (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call domainsDomainIdGetUsingGETAsync(String domainId, final ApiCallback<ContainerStats> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = domainsDomainIdGetUsingGETValidateBeforeCall(domainId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ContainerStats>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for domainsDomainIdParametersGetUsingGET */
    private com.squareup.okhttp.Call domainsDomainIdParametersGetUsingGETCall(String domainId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/domains/{domainId}/parameters".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "domainId" + "\\}", apiClient.escapeString(domainId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call domainsDomainIdParametersGetUsingGETValidateBeforeCall(String domainId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'domainId' is set
        if (domainId == null) {
            throw new ApiException("Missing the required parameter 'domainId' when calling domainsDomainIdParametersGetUsingGET(Async)");
        }
        
        
        com.squareup.okhttp.Call call = domainsDomainIdParametersGetUsingGETCall(domainId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * domainsDomainIdParametersGet
     * Return a list of &#x60;Parameter&#x60;s in &#x60;Domain&#x60;. 
     * @param domainId identifier (required)
     * @return Parameter
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Parameter domainsDomainIdParametersGetUsingGET(String domainId) throws ApiException {
        ApiResponse<Parameter> resp = domainsDomainIdParametersGetUsingGETWithHttpInfo(domainId);
        return resp.getData();
    }

    /**
     * domainsDomainIdParametersGet
     * Return a list of &#x60;Parameter&#x60;s in &#x60;Domain&#x60;. 
     * @param domainId identifier (required)
     * @return ApiResponse&lt;Parameter&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Parameter> domainsDomainIdParametersGetUsingGETWithHttpInfo(String domainId) throws ApiException {
        com.squareup.okhttp.Call call = domainsDomainIdParametersGetUsingGETValidateBeforeCall(domainId, null, null);
        Type localVarReturnType = new TypeToken<Parameter>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * domainsDomainIdParametersGet (asynchronously)
     * Return a list of &#x60;Parameter&#x60;s in &#x60;Domain&#x60;. 
     * @param domainId identifier (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call domainsDomainIdParametersGetUsingGETAsync(String domainId, final ApiCallback<Parameter> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = domainsDomainIdParametersGetUsingGETValidateBeforeCall(domainId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Parameter>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for domainsDomainIdParametersPostUsingPOST */
    private com.squareup.okhttp.Call domainsDomainIdParametersPostUsingPOSTCall(String domainId, Parameter parameter, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = parameter;
        
        // create path and map variables
        String localVarPath = "/domains/{domainId}/parameters".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "domainId" + "\\}", apiClient.escapeString(domainId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call domainsDomainIdParametersPostUsingPOSTValidateBeforeCall(String domainId, Parameter parameter, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'domainId' is set
        if (domainId == null) {
            throw new ApiException("Missing the required parameter 'domainId' when calling domainsDomainIdParametersPostUsingPOST(Async)");
        }
        
        // verify the required parameter 'parameter' is set
        if (parameter == null) {
            throw new ApiException("Missing the required parameter 'parameter' when calling domainsDomainIdParametersPostUsingPOST(Async)");
        }
        
        
        com.squareup.okhttp.Call call = domainsDomainIdParametersPostUsingPOSTCall(domainId, parameter, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * domainsDomainIdParametersPost
     * Add a &#x60;Parameter&#x60; to &#x60;Domain&#x60;. 
     * @param domainId identifier (required)
     * @param parameter a pair key/value (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void domainsDomainIdParametersPostUsingPOST(String domainId, Parameter parameter) throws ApiException {
        domainsDomainIdParametersPostUsingPOSTWithHttpInfo(domainId, parameter);
    }

    /**
     * domainsDomainIdParametersPost
     * Add a &#x60;Parameter&#x60; to &#x60;Domain&#x60;. 
     * @param domainId identifier (required)
     * @param parameter a pair key/value (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> domainsDomainIdParametersPostUsingPOSTWithHttpInfo(String domainId, Parameter parameter) throws ApiException {
        com.squareup.okhttp.Call call = domainsDomainIdParametersPostUsingPOSTValidateBeforeCall(domainId, parameter, null, null);
        return apiClient.execute(call);
    }

    /**
     * domainsDomainIdParametersPost (asynchronously)
     * Add a &#x60;Parameter&#x60; to &#x60;Domain&#x60;. 
     * @param domainId identifier (required)
     * @param parameter a pair key/value (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call domainsDomainIdParametersPostUsingPOSTAsync(String domainId, Parameter parameter, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = domainsDomainIdParametersPostUsingPOSTValidateBeforeCall(domainId, parameter, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /* Build call for domainsDomainIdPartsGetUsingGET */
    private com.squareup.okhttp.Call domainsDomainIdPartsGetUsingGETCall(String domainId, Double size, String offset, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/domains/{domainId}/parts".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "domainId" + "\\}", apiClient.escapeString(domainId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (size != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "size", size));
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "offset", offset));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call domainsDomainIdPartsGetUsingGETValidateBeforeCall(String domainId, Double size, String offset, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'domainId' is set
        if (domainId == null) {
            throw new ApiException("Missing the required parameter 'domainId' when calling domainsDomainIdPartsGetUsingGET(Async)");
        }
        
        
        com.squareup.okhttp.Call call = domainsDomainIdPartsGetUsingGETCall(domainId, size, offset, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * domainsDomainIdPartsGet
     * Return a list of &#x60;Part&#x60;s in &#x60;Domain&#x60;. 
     * @param domainId identifier (required)
     * @param size number of resources (optional, default to 100)
     * @param offset id of the first element (optional)
     * @return Reference
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Reference domainsDomainIdPartsGetUsingGET(String domainId, Double size, String offset) throws ApiException {
        ApiResponse<Reference> resp = domainsDomainIdPartsGetUsingGETWithHttpInfo(domainId, size, offset);
        return resp.getData();
    }

    /**
     * domainsDomainIdPartsGet
     * Return a list of &#x60;Part&#x60;s in &#x60;Domain&#x60;. 
     * @param domainId identifier (required)
     * @param size number of resources (optional, default to 100)
     * @param offset id of the first element (optional)
     * @return ApiResponse&lt;Reference&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Reference> domainsDomainIdPartsGetUsingGETWithHttpInfo(String domainId, Double size, String offset) throws ApiException {
        com.squareup.okhttp.Call call = domainsDomainIdPartsGetUsingGETValidateBeforeCall(domainId, size, offset, null, null);
        Type localVarReturnType = new TypeToken<Reference>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * domainsDomainIdPartsGet (asynchronously)
     * Return a list of &#x60;Part&#x60;s in &#x60;Domain&#x60;. 
     * @param domainId identifier (required)
     * @param size number of resources (optional, default to 100)
     * @param offset id of the first element (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call domainsDomainIdPartsGetUsingGETAsync(String domainId, Double size, String offset, final ApiCallback<Reference> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = domainsDomainIdPartsGetUsingGETValidateBeforeCall(domainId, size, offset, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Reference>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for domainsDomainIdPartsPartIdRelationsGetUsingGET */
    private com.squareup.okhttp.Call domainsDomainIdPartsPartIdRelationsGetUsingGETCall(String domainId, String partId, String type, String resourceType, String relatedId, Double size, String offset, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/domains/{domainId}/parts/{partId}/relations".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "domainId" + "\\}", apiClient.escapeString(domainId.toString()))
        .replaceAll("\\{" + "partId" + "\\}", apiClient.escapeString(partId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (type != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "type", type));
        if (resourceType != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "resourceType", resourceType));
        if (relatedId != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "relatedId", relatedId));
        if (size != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "size", size));
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "offset", offset));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call domainsDomainIdPartsPartIdRelationsGetUsingGETValidateBeforeCall(String domainId, String partId, String type, String resourceType, String relatedId, Double size, String offset, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'domainId' is set
        if (domainId == null) {
            throw new ApiException("Missing the required parameter 'domainId' when calling domainsDomainIdPartsPartIdRelationsGetUsingGET(Async)");
        }
        
        // verify the required parameter 'partId' is set
        if (partId == null) {
            throw new ApiException("Missing the required parameter 'partId' when calling domainsDomainIdPartsPartIdRelationsGetUsingGET(Async)");
        }
        
        // verify the required parameter 'type' is set
        if (type == null) {
            throw new ApiException("Missing the required parameter 'type' when calling domainsDomainIdPartsPartIdRelationsGetUsingGET(Async)");
        }
        
        
        com.squareup.okhttp.Call call = domainsDomainIdPartsPartIdRelationsGetUsingGETCall(domainId, partId, type, resourceType, relatedId, size, offset, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * domainsDomainIdPartsPartIdRelationsGet
     * Return a list of &#x60;Relation&#x60; from &#x60;Part&#x60; in &#x60;Domain&#x60;. 
     * @param domainId id of domain (required)
     * @param partId id of part (required)
     * @param type type of relation (required)
     * @param resourceType type of resources (optional)
     * @param relatedId id of related document (optional)
     * @param size number of resources (optional, default to 100)
     * @param offset id of the first element (optional)
     * @return Relation
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Relation domainsDomainIdPartsPartIdRelationsGetUsingGET(String domainId, String partId, String type, String resourceType, String relatedId, Double size, String offset) throws ApiException {
        ApiResponse<Relation> resp = domainsDomainIdPartsPartIdRelationsGetUsingGETWithHttpInfo(domainId, partId, type, resourceType, relatedId, size, offset);
        return resp.getData();
    }

    /**
     * domainsDomainIdPartsPartIdRelationsGet
     * Return a list of &#x60;Relation&#x60; from &#x60;Part&#x60; in &#x60;Domain&#x60;. 
     * @param domainId id of domain (required)
     * @param partId id of part (required)
     * @param type type of relation (required)
     * @param resourceType type of resources (optional)
     * @param relatedId id of related document (optional)
     * @param size number of resources (optional, default to 100)
     * @param offset id of the first element (optional)
     * @return ApiResponse&lt;Relation&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Relation> domainsDomainIdPartsPartIdRelationsGetUsingGETWithHttpInfo(String domainId, String partId, String type, String resourceType, String relatedId, Double size, String offset) throws ApiException {
        com.squareup.okhttp.Call call = domainsDomainIdPartsPartIdRelationsGetUsingGETValidateBeforeCall(domainId, partId, type, resourceType, relatedId, size, offset, null, null);
        Type localVarReturnType = new TypeToken<Relation>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * domainsDomainIdPartsPartIdRelationsGet (asynchronously)
     * Return a list of &#x60;Relation&#x60; from &#x60;Part&#x60; in &#x60;Domain&#x60;. 
     * @param domainId id of domain (required)
     * @param partId id of part (required)
     * @param type type of relation (required)
     * @param resourceType type of resources (optional)
     * @param relatedId id of related document (optional)
     * @param size number of resources (optional, default to 100)
     * @param offset id of the first element (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call domainsDomainIdPartsPartIdRelationsGetUsingGETAsync(String domainId, String partId, String type, String resourceType, String relatedId, Double size, String offset, final ApiCallback<Relation> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = domainsDomainIdPartsPartIdRelationsGetUsingGETValidateBeforeCall(domainId, partId, type, resourceType, relatedId, size, offset, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Relation>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for domainsDomainIdPartsPartIdTagsGetUsingGET */
    private com.squareup.okhttp.Call domainsDomainIdPartsPartIdTagsGetUsingGETCall(String domainId, String partId, Double size, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/domains/{domainId}/parts/{partId}/tags".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "domainId" + "\\}", apiClient.escapeString(domainId.toString()))
        .replaceAll("\\{" + "partId" + "\\}", apiClient.escapeString(partId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (size != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "size", size));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call domainsDomainIdPartsPartIdTagsGetUsingGETValidateBeforeCall(String domainId, String partId, Double size, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'domainId' is set
        if (domainId == null) {
            throw new ApiException("Missing the required parameter 'domainId' when calling domainsDomainIdPartsPartIdTagsGetUsingGET(Async)");
        }
        
        // verify the required parameter 'partId' is set
        if (partId == null) {
            throw new ApiException("Missing the required parameter 'partId' when calling domainsDomainIdPartsPartIdTagsGetUsingGET(Async)");
        }
        
        
        com.squareup.okhttp.Call call = domainsDomainIdPartsPartIdTagsGetUsingGETCall(domainId, partId, size, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * domainsDomainIdPartsPartIdTagsGet
     * Return a list of &#x60;Tag&#x60; from &#x60;Part&#x60; in &#x60;Domain&#x60;. 
     * @param domainId id of domain (required)
     * @param partId id of part (required)
     * @param size number of tags (optional, default to 100)
     * @return Tag
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Tag domainsDomainIdPartsPartIdTagsGetUsingGET(String domainId, String partId, Double size) throws ApiException {
        ApiResponse<Tag> resp = domainsDomainIdPartsPartIdTagsGetUsingGETWithHttpInfo(domainId, partId, size);
        return resp.getData();
    }

    /**
     * domainsDomainIdPartsPartIdTagsGet
     * Return a list of &#x60;Tag&#x60; from &#x60;Part&#x60; in &#x60;Domain&#x60;. 
     * @param domainId id of domain (required)
     * @param partId id of part (required)
     * @param size number of tags (optional, default to 100)
[...]
